.codeian-gauge {
	position: relative;
	background: var(--gauge-bg);
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
    border-bottom: none;
	width: 210px;
	height: 105px;
	font-weight: bold;
	font-size: 34px;
}

.codeian-gauge .tick-circle {
	position: absolute;
	top: 15%;
	left: 15%;
	width: calc(70% - 0.1em);
	height: calc(70% - 0.1em);
	border-left: 0.1em solid;
	border-top: 0.1em solid;
	border-right: 0.1em solid;
	border-bottom: 0.1em solid transparent;
	border-radius: 50%;
}

.codeian-gauge .needle {
    z-index: 99;
    transition: all 0.5s;
	background: var(--marker-color, #000000);
	position: relative;
    transform: rotate(calc(180deg * var(--gauge-value, 0deg) / 100));
	left: 0%;
	top: 95%;
	width: 100%;
	height: 10%;
	background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(0, 0, 0, 0) 20%,
        var(--marker-color, #000000) 20%,
        var(--marker-color, #000000) 30%,
        var(--marker-color, #000000) 8%,
        rgba(0, 0, 0, 0) 8%
    );
}

.codeian-gauge .needle .needle-head {
	position: relative;
    top: -50%;
    left: 12%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--marker-color, #000000);
    transform: rotate(90deg);
}

.codeian-gauge .labels {
	position: absolute;
	width: 100%;
	height: 100%;
    font-size: 22px;
    color: #595959;
}

.codeian-gauge .labels .value-label {
	position: relative;
	top: 75%;
	left: 50%;
	transform: translateX(-50%);
}

.codeian-gauge .labels .value-label::after {
	counter-reset: gauge-value var(--gauge-display-value);
	content: counter(gauge-value)"%";
}

.codeian-guide-x,
.codeian-guide-y {
	background-color: orange;
	visibility: visible;
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
}

.codeian-guide-y {
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.codeian-chart-skills {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.codeian-chart-skills *,
.codeian-chart-skills::before {
	box-sizing: border-box;
}

/* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.codeian-chart-skills {
	position: absolute;
	width: 210px;
	height: 105px;
	overflow: hidden;
}

.codeian-chart-skills::before,
.codeian-chart-skills::after {
	position: absolute;
}

.codeian-chart-skills li {
	position: absolute;
	top: 100%;
	left: 0;
	width: inherit;
	height: inherit;
	border: 50px solid;
	border-top: none;
	border-bottom-left-radius: 105px;
	border-bottom-right-radius: 105px;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	animation-fill-mode: forwards;
	animation-duration: 00ms;
	animation-timing-function: linear;
}

.codeian-chart-skills li:nth-child(1) {
	z-index: 4;
	border-color: var(--item1-color, #efefef);
	animation-name: codeian-rotate-one;
}

.codeian-chart-skills li:nth-child(2) {
	z-index: 3;
	border-color: var(--item2-color, #efefef);
	animation-name: codeian-rotate-two;
	animation-delay: 0s;
}

.codeian-chart-skills li:nth-child(3) {
	z-index: 2;
	border-color: var(--item3-color, #efefef);
	animation-name: codeian-rotate-three;
	animation-delay: 0s;
}

.codeian-chart-skills li:nth-child(4) {
	z-index: 1;
	border-color: var(--item4-color, #efefef);
	animation-name: codeian-rotate-four;
	animation-delay: 0s;
}

@keyframes codeian-rotate-needle{
    100% {
        animation-delay: 1s;

	}
}

@keyframes codeian-rotate-one {
	100% {
        transform: rotate(calc(180deg * var(--item1-size, 0deg) / 100));
	}
}

@keyframes codeian-rotate-two {
	0% {
        transform: rotate(calc(180deg * var(--item1-size, 0deg) / 100));
	}
	100% {
        transform: rotate(calc((180deg * var(--item1-size, 0deg) / 100) + (180deg * var(--item2-size, 0deg) / 100)));
	}
}

@keyframes codeian-rotate-three {
	0% {
        transform: rotate(calc((180deg * var(--item1-size, 0deg) / 100) + (180deg * var(--item2-size, 0deg) / 100)));
	}
	100% {
        transform: rotate(calc((180deg * var(--item1-size, 0deg) / 100) + (180deg * var(--item2-size, 0deg) / 100) + (180deg * var(--item3-size, 0deg) / 100)));
	}
}

@keyframes codeian-rotate-four {
	0% {
		transform: rotate(calc(180deg * var(--item4-size, 0deg) / 100));
	}
	100% {
		transform: rotate(180deg);
	}
}
